<div class="container mx-auto p-8 mt-8 max-w-lg bg-white shadow-xl rounded-lg ">
  <!-- Título -->
  <h1 class="text-3xl font-semibold text-indigo-700 mt-8 mb-6 text-center">Edit Product</h1>

  <!-- Formulario de edición -->
  <%= render "form", product: @product %>

  <!-- Botón de cancelación -->
  <div class="mt-6 text-center">
    <%= link_to "Cancel", @product, class: "text-indigo-600 hover:text-indigo-800 font-medium" %>
  </div>
</div>
