<h1 class="page-title"><%= t ".title" %></h1>

<% if authenticated? %>
  <div class="actions">
    <%= button_to "Create New Product", new_product_path, method: :get, class: "btn primary" %>
  </div>
<% end %>

<div id="products" class="product-list">
  <% @products.each do |product| %>
    <a href="<%= product_path(product) %>" class="product-item">
      <%= product.name %>
    </a>
  <% end %>
</div>
